body {
  margin: 0;
  padding: 0%;
}
.barContainer {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 2vw;
  margin-right: 0.1vw;
  background-color: darkblue;
}
